body,html{
	margin: 0;
    background:white;
    padding:0;
    font-family:georgia,serif;
    color:#565759;
    font-size:13px;
    letter-spacing:0.04em;
    line-height:1.6em;
    background-image:url(../img/bg.png);
    background-position:top center;
}
.hidden{
    display:none;
    visibility:hidden;
}
.clear{
    clear:both;
}
.center{
    text-align:center;
}
#logo{
    margin:20px auto 10px auto;
}
#navigation{
    padding:4px 0;
}
#navigation a{
    font-family:"Muli",sans-serif;
    font-size:10px;
    text-transform:uppercase;
    color:#565759;
    margin:0 15px;
}
#navigation a:hover, #footer a:hover{
    color:#aaa;
    text-decoration:none;
}
hr{
    border:none;
    height:1px;
    background:#c3c4c6;
    width:100%;
    margin:5px 0px;
}
h1,h2,h3,h4{
    text-transform:uppercase;
    font-family:"Muli",sans-serif;
    font-weight:300;
    letter-spacing:0.1em;
}
h1{
    font-size:2.0em;
}
h2{
    font-size:1.25em;
}
h3{
    font-size:1.05em;
    font-style:italic;
}
h4{
    font-size:0.9em;
    font-style:italic;
}
strong{
    font-weight:normal;
    text-transform:uppercase;
}
#footer{
    padding:20px 0;
}
#footer hr{
    margin-bottom:20px;
}
#footer a{
    color:#565759;
}