body,html{
	margin: 0;
    background:white;
    padding:0;
    font-family:georgia,serif;
    color:#565759;
    font-size:13px;
    letter-spacing:0.04em;
    line-height:1.6em;
}
.hidden{
    display:none;
    visibility:hidden;
}
.clear{
    clear:both;
}
h1,h2,h3,h4{
    text-transform:uppercase;
    font-family:"Muli",sans-serif;
    font-weight:300;
    letter-spacing:0.1em;
}
h1{
    font-size:2.0em;
}
h2{
    font-size:1.25em;
}
h3{
    font-size:1.05em;
    font-style:italic;
}
h4{
    font-size:0.9em;
    font-style:italic;
}
strong{
    font-weight:normal;
    text-transform:uppercase;
}