<div class="container navigation">
    <div class="col-md-5">
        <div class="dropdown">
            <a href="{{ site.baseurl }}/portfolio/wedding" class="link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">Portfolio+</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ site.baseurl }}/portfolio/wedding">Weddings</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ site.baseurl }}/portfolio/engagement">Engagements</a></li>
              </ul>
        </div>
        <div class="active dropdown">
            <a href="{{ site.baseurl }}/about-us" class="active link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">Info+</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ site.baseurl }}/about-us">All About Us</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ site.baseurl }}/about-you">All About You</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ site.baseurl }}/faq">Your Questions</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ site.baseurl }}/weddings-for-freedom">Weddings for Freedom</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ site.baseurl }}/testimonials">Raves</a></li>
                <!-- <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ site.baseurl }}/shop">Albums</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ site.baseurl }}/shop">Prints</a></li> -->
              </ul>
        </div>
        <div class="dropdown">
            <a href="{{ site.baseurl }}/blog" class="link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">Blog+</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ site.baseurl }}/blog">All</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ site.baseurl }}/wedding">Weddings</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ site.baseurl }}/engagement">Engagements</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ site.baseurl }}/personal">Personal</a></li>
              </ul>
        </div>
    </div>
    <div class="col-md-2 center">
        <a href="{{ site.baseurl }}/" class="logo"><img src="{{ site.baseurl }}/_img/logo.png" alt="Magnified Joy Photography"></a>
    </div>
    <div class="col-md-5">
            <a class="link" href="{{ site.baseurl }}/personal">Adventure</a>
            <a class="link" href="{{ site.baseurl }}/boudoir">Boudoir</a>
            <!-- <a class="link" href="{{ site.baseurl }}/map">Map+</a>
            <a class="link" href="{{ site.baseurl }}/shop">Shop</a> -->
            <a class="link" href="{{ site.baseurl }}/contact">Contact</a>
    </div>
</div>