<div class="container navigation">
    <div class="col-md-4">
            <a href="./portfolio.html">Portfolio+</a>
            <a href="./info.html">Info+</a>
            <a href="./blog.html">Blog</a>
            <a href="./contact.html">Contact</a> 
    </div>
    <div class="col-md-4 center">
        <a href="./index.html" class="logo"><img src="img/logo.png" alt="Magnified Joy Photography"></a>
    </div>
    <div class="col-md-4">
            <a href="./lifestyle.html">Lifestyle</a>
            <a href="./boudouir.html">Boudouir</a>
            <a href="./map.html">Map+</a>
            <a href="./shop.html">Shop</a>
    </div>
</div>