<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }} - {% endif %}M. Joy</title>
    <link href='http://fonts.googleapis.com/css?family=Muli:300,300italic,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ site.baseurl }}/_css/lib/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/_css/lib/leaflet.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/_css/style.css">
    
    <link rel="stylesheet" href="{{ site.baseurl }}/_css/portfolio.css">
	<script src="{{ site.baseurl }}/_js/lib/jquery.min.js"></script>
	<script src="{{ site.baseurl }}/_js/lib/jquery.caroufredsel.min.js"></script>
	<script src="{{ site.baseurl }}/_js/lib/bootstrap.min.js"></script>
	<!-- <script src="{{ site.baseurl }}/_js/lib/leaflet.js"></script> -->
	<script src="{{ site.baseurl }}/_js/main.js"></script>
</head>
