<div class="container navigation">
    <div class="col-md-4">
        <div class="dropdown">
            <a href="./portfolio.html" class="link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">Portfolio+</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="./portfolio.html">Weddings</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="./portfolio.html">Portraits</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="./portfolio.html">Engagements</a></li>
              </ul>
        </div>
        <div class="dropdown">
            <a href="./about-us.html" class="link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">Info+</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="./about-us.html">About Us</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="./pricing.html">Investment</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="./faq.html">Your Questions</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="./testimonials.html">Raves</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="./albums.html">Albums</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="./prints.html">Prints</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="./box.html">Keepsake Box/Packaging</a></li>
              </ul>
        </div>
        <div class="dropdown">
            <a href="./blog.html" class="link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">Blog+</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="./blog.html">All</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="./blog.html">Weddings</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="./blog.html">Portraits</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="./blog.html">Engagements</a></li>
              </ul>
        </div>
        <a class="link" href="./contact.html">Contact</a> 
    </div>
    <div class="col-md-4 center">
        <a href="./index.html" class="logo"><img src="img/logo.png" alt="Magnified Joy Photography"></a>
    </div>
    <div class="col-md-4">
            <a class="link" href="./lifestyle.html">Lifestyle</a>
            <a class="link" href="./boudouir.html">Boudouir</a>
            <a class="link" href="./map.html">Map+</a>
            <a class="link" href="./shop.html">Shop</a>
    </div>
</div>