---
layout: default
---    
<div class="container gallery content">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {{ content }}
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="center">
        <div class="btn-group">
            <button type="button" class="active btn btn-default">1</button>
            <button type="button" class="btn btn-default">2</button>
            <button type="button" class="btn btn-default">3</button>
            <button type="button" class="btn btn-default">4</button>
        </div>
        <button type="button" class="btn btn-default">next page</button>
    </div>
</div>