<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="home">

    <div class="container navigation">
    <div class="col-md-4">
        <div class="dropdown">
            <a href="/portfolio" class="link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">Portfolio+</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/portfolio">Weddings</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/portfolio">Portraits</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/portfolio">Engagements</a></li>
              </ul>
        </div>
        <div class="dropdown">
            <a href="/about-us" class="link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">Info+</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/about-us">About Us</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/pricing">Investment</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/faq">Your Questions</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/testimonials">Raves</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/shop">Albums</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/shop">Prints</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/shop">Keepsake Box/Packaging</a></li>
              </ul>
        </div>
        <div class="dropdown">
            <a href="/blog" class="link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">Blog+</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/blog">All</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/blog">Weddings</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/blog">Portraits</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/blog">Engagements</a></li>
              </ul>
        </div>
        <a class="link" href="/contact">Contact</a> 
    </div>
    <div class="col-md-4 center">
        <a href="/" class="logo"><img src="/img/logo.png" alt="Magnified Joy Photography"></a>
    </div>
    <div class="col-md-4">
            <a class="link" href="/life">Lifestyle</a>
            <a class="link" href="/boudouir">Boudouir</a>
            <a class="link" href="/map">Map+</a>
            <a class="link" href="/shop">Shop</a>
    </div>
</div>
<div class="container submenu">
    <div class="row">
        
    </div>
</div>

    {{ content }}

  </body>

</html>
