{% assign posts = site.categories.home %}
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="home">

    {% include header.html %}
    
    <div id="homeCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
      
        {% for post in posts %}

        <div class="item{% if forloop.first %} active{% endif %}">
          <img src="{{ site.baseurl }}/_img/transparent.png" style="background-image:url({{ post.image }})" alt="{{ post.title }}">
          <div class="container">
            <div class="carousel-caption">
              <h1>{{ post.title }}</h1>
              <p><a class="btn btn-lg btn-primary" href="{{ post.link }}" role="button">{{ post.link-label }}</a></p>
            </div>
          </div>
        </div>

        {% endfor %}
    
      </div>
      <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev"><img src="{{ site.baseurl }}/_img/arrow-left.png" alt=""></a>
      <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next"><img src="{{ site.baseurl }}/_img/arrow-right.png" alt=""></a>
    </div>
    
    <div class="bottom container">
        <hr>
        <div class="instagram col-md-5">
            <a href="http://instagram.com/magnifiedjoy" target="_blank">@magnifiedjoy</a>
            <div id="instafeed" class="feed">
            </div>
        </div>
        <div class="share col-md-4">
            <p><a href="{{ site.baseurl }}/contact" class="btn">Share your love story with us</a></p>
            <p><h4>We celebrate healthy marriages and are inspired by adventures</h4></p>
            <p><h4>Wedding &middot; Boudoir &middot; Worldwide</h4></p>
            <p><h4><a href="mailto:info@magnifiedjoy.com">info@magnifiedjoy.com</a><br>262.844.7374</h4></p>
        </div>
        
        <div class="contact col-md-3">
            <div class="col-md-12">
                <h3>Subscribe to our monthly newsletter</h3>
                <form action="//magnifiedjoy.us9.list-manage.com/subscribe/post?u=3d922b022cb0ef6b6ce2337d3&amp;id=0111d465ab" role="form" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <input type='hidden' name='redirect_to' value='{{ site.url }}/contact/thanks' class="hidden" />
                    <div class="form-group">
                        	<input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Enter your email address" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_3d922b022cb0ef6b6ce2337d3_0111d465ab" tabindex="-1" value=""></div>
                        <br><input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default" value="Subscribe"/>
                    </div>
                </form>
            </div>
            <div class="col-md-12">
                <h3>Find us on social media</h3>
                <div id="social">
                    <a href="https://www.facebook.com/magnifiedjoy" class="facebook" target="_blank">
                        <img src="{{ site.baseurl }}/_img/icon-facebook.png" alt="facebook"></a>
                    <a href="http://instagram.com/magnifiedjoy" class="instagram" target="_blank">
                        <img src="{{ site.baseurl }}/_img/icon-instagram.png" alt="instagram"></a>
                    <a href="https://ello.co/magnifiedjoy" class="ello" target="_blank">
                        <img src="{{ site.baseurl }}/_img/icon-ello.png" alt="ello"></a>
                    <a href="https://google.com/+Magnifiedjoyphotography" class="google" target="_blank">
                        <img src="{{ site.baseurl }}/_img/icon-google.png" alt="google"></a>
                    <a href="https://twitter.com/magnifiedjoy" class="twitter" target="_blank">
                        <img src="{{ site.baseurl }}/_img/icon-twitter.png" alt="twitter"></a>
                    <a href="http://www.yelp.com/biz/magnified-joy-photography-el-cerrito" class="yelp" target="_blank">
                        <img src="{{ site.baseurl }}/_img/icon-yelp.png" alt="yelp"></a>
                </div>
            </div>
        </div>
    </div>

      {% include footer.html %}
      <script type="text/javascript" src="{{ site.baseurl}}/_js/lib/instafeed.min.js"></script>
      <script type="text/javascript" src="{{ site.baseurl}}/_js/instagram.js"></script>
      {% include analytics.html %}
  </body>

</html>
