---
layout: default
---
{% assign posts = site.categories.testimonials %}
<div class="container content testimonials">
    
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
        <h1 class="center" style="margin-bottom:1em">Raves</h1>
    {% for post in posts %}
        {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
        {% if forloop.first %}{% else %}<hr>{% endif %}
        {% if thecycle == 'odd' %}
            <div class="row">
                    <div class="col-md-7">
                        {{ post.content }}
                        <h3 style="margin:0">- {{ post.title }}</h3>
                    </div>
                    <div class="col-md-5">
                        <img src="{{ post.image }}" alt="{{ post.title }}">
                    </div>
            </div>
        {% else %}
            <div class="row">
                    <div class="col-md-5">
                        <img src="{{ post.image }}" alt="{{ post.title }}">
                    </div>
                    <div class="col-md-7">{{ post.content }}
                        <h3 style="margin:0">- {{ post.title }}</h3>
                    </div>
            </div>
        {% endif %}

    {% endfor %}
    
        </div>
    </div>
</div>